* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslateblue;
}

.main {
    width: 40%;
    margin-top: 10px;
    height: 400px;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px;
}

.logo img {
    margin: 10px 180px 0px 180px;
}

.main h1 {
    font-size: 14px;
    text-align: center;
}

.main h2 {
    margin: 20px 40px;
    font-size: 15px;
}

label {
    display: block;
    margin: 0px 40px;
}

input {
    width: 80%;
    margin: 0px 40px;
    border-color: gray;
    border-radius: 4px;
}

hr {
    width: 80%;
    margin: auto;
}

.one {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    width: 80%;
    margin: 20px 40px;
    padding: 5px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: navy;
}

img {
    float: left;
    margin: 0px 5px;
}

#icon1 {
    margin-left: 160px;
}

.foot p {
    clear: both;
    margin: 40px 130px;
    font-size: 12px;
}

.foot a {
    color: navy;
}